.container {
    background-color: #e6e6e6;
    height: 700px;

    main {
        display: flex;
        width: 1300px;
        margin: 0 auto;
        padding-top: 200px;

        .left {
            margin-right: 20px;
            .data {
                margin-top: 30px;
            }
            p {
                color: #94979f;
                line-height: 30px;
                margin-top: 40px;
                font-size: 17px;
            }

            .inner {
                display: flex;
                align-items: center;
                margin-top: 15px;
            }

            i {
                color: #ffab0b;
                margin-right: 14px;
            }

            span {
                margin-left: 3px;
                font-size: 17px;
                color: #94979f;
            }
        }
    }
    .our-box {
        width: 700px;
        margin: 15px 0;
        padding: 10px 20px;
        color: #ffab0b;
        background-color: #fff;
        font-size: 20px;
        font-weight: bold;

        span {
            font-size: 25px;
            margin-right: 10px;
        }
    }
}
