.container {
    height: 600px;
    background-image: url("../../public/img/university_ft_bg.png");
    background-size: cover;
    border-bottom: 1px solid #667287;
    span {
        transition: all 0.5s;
    }
    span:hover {
        color: #ffab0b;
        transition: all 0.5s;
        cursor: pointer;
    }
    .row {
        margin-top: 80px;
        height: 500px;
        display: flex;
        justify-content: space-around;

        .university {
            width: 260px;

            h2 {
                margin-bottom: 20px;
            }
        }

        .posts {
            .border-bottom {
                padding-bottom: 16px;
                margin-top: 20px;
                position: relative;
                width: 320px;
                border-bottom: 1px solid gray;

                p {
                    margin: 20px 0;
                }

                span {
                    color: #667287;
                }
            }
        }
        .big {
            width: 450px;
            display: flex;
            justify-content: space-between;

            .top {
                margin-bottom: 20px;
            }
        }

        .courses {
            h2 {
                margin-bottom: 18px;
            }
        }

        .courses:last-child {
            margin-bottom: 50px;
        }

        .admission {
            h2 {
                margin: 18px 0;
            }
        }

        .resources {
            h2 {
                margin-bottom: 18px;
            }
        }

        .resources:last-child {
            margin-bottom: 50px;
        }

        .quick {
            h2 {
                margin: 18px 0;
            }
        }

        .events {
            .card {
                border-bottom: 1px solid #94979f;
            }
            .seminar {
                height: 100px;
                width: 500px;
                margin-top: 20px;
                display: flex;
                flex-wrap: wrap;

                h4 {
                    height: 20px;
                }

                .testo {
                    margin-left: 18px;
                }
            }

            .number {
                width: 50px;
                height: 70px;
                background-color: #ffab0b;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: center;
                color: #fff;
                padding-bottom: 4px;
                font-weight: bold;

                .day {
                    width: 42px;
                    height: 40px;
                    background-color: #e6e6e6;
                    margin: 3px auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #ffab0b;
                }
            }
        }
    }
}
