$blue : #1686d9;
.container {
    height: 700px;
    background-image: url("../../public/img/home_main_slider_bg.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;

    h1{
      transition: all 1s;
    }

    &:hover h1{
      color: #FFAB0B;
      transition: all 2s;
    }
  
    .top {
      font-size: 40px;
      margin-bottom: 20px;
    }
  
    .middle {
      margin-bottom: 30px;
  
      span {
        font-size: 25px;
      }
    }
  
    .buttons{
        width: 270px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        justify-content: space-around;
        button{
           border: none;
           padding: 10px 15px; 
           color: #fff;
        }
  
        .first{
            background-color: #FFAB0B;
          cursor: pointer;
        }
  
        .second{
            background-color: #0EBCF2;
            cursor: pointer;
        }
    }
    .bg-modal {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      display: none;
      justify-content: center;
      align-items: center;
    }
    
    .modal-contents {
      height: 300px;
      width: 500px;
      background-color: white;
      text-align: center;
      padding: 20px;
      position: relative;
      border-radius: 4px;
    }
    
    input {
      margin: 15px auto;
      display: block;
      width: 50%;
      padding: 8px;
      border: 1px solid gray;
    }
    
    .close {
      position: absolute;
      top: 0;
      right: 10px;
      font-size: 42px;
      color: #333;
      transform: rotate(45deg);
      cursor: pointer;
      &:hover {
        color: #666;
      }
    }

    .button {
      background-color: $blue;
      border: 2px solid white;
      border-radius: 30px;
      text-decoration: none;
      padding: 10px 28px;
      color: white;
      margin-top: 10px;
      display: inline-block;
      &:hover {
        background-color: white;
        color: $blue;
        border: 2px solid $blue;
      }
    }
    
  }